@use "variables" as *;
@use "mixin" as *;

html {
	font-size: 100%;
}

body {
	color: $color-main;
  background: $color-light;
  font-family: $font-family;
  line-height: 1.7;
	margin: 0;
}

img {
	width: 100%;
  height: auto;
  vertical-align: top;  /* img下の隙間を消す */
}

a, button, [role="tab"]{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

address{
	font-style: normal;
}

/* スクリーンリーダーオンリー */
.sr-only{
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}
