
//font
$font-family: 'Montserrat', 'Noto Sans JP', sans-serif;

//color
$color-main: #111;
$color-light: #FFF;
$color-Base: #FAFAFA;
$color-Key-deep: #F5810E;
$color-Key-pale: #FABE00;
$color-accent: #f99f48;

//size
$size-header-height-pc: 90px;
$size-header-height-sp: 70px;
$size-inner-width-pc: 1140px;

// z-index
$layer: (
  header: 900, // ヘッダー
  default: 0, //default
);

