@charset "UTF-8";
html {
  font-size: 100%;
}

body {
  color: #111;
  background: #FFF;
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
  line-height: 1.7;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  vertical-align: top; /* img下の隙間を消す */
}

a, button, [role=tab] {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

address {
  font-style: normal;
}

/* スクリーンリーダーオンリー */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/*===============================
共通クラス
===============================*/
.inner {
  width: 100%;
  max-width: 1206px;
  padding: 0 30px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .inner {
    padding: 0 20px;
  }
}

.p-sec {
  padding-block: 100px;
  background: #F4F4EA;
}

.p-sec__title {
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 2.625rem;
  font-weight: 500;
  line-height: 0.95238;
  text-align: center;
}

.p-cards {
  width: 100%;
  -webkit-margin-before: 80px;
          margin-block-start: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 533px);
  gap: 80px 80px;
  list-style: none;
  padding: 0;
}

.p-card {
  border-radius: 30px;
  background: #FFF;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  padding: 30px;
}

.p-card__title {
  color: #000;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.25;
}

.p-card__img {
  -webkit-margin-before: 87px;
          margin-block-start: 87px;
  margin-inline: auto;
}
.p-card:nth-of-type(1) .p-card__img {
  width: 155px;
}
.p-card:nth-of-type(2) .p-card__img {
  width: 192px;
}
.p-card:nth-of-type(3) .p-card__img {
  width: 163px;
}
.p-card:nth-of-type(4) .p-card__img {
  width: 164px;
}
.p-card__img img {
  width: 100%;
  height: auto;
  display: block;
}

.p-card__dl {
  -webkit-margin-before: 50px;
          margin-block-start: 50px;
  display: grid;
  grid-template-columns: 48px 1fr;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  row-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-inline: 52px;
  -webkit-padding-after: 20px;
          padding-block-end: 20px;
}

.p-card__dt {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.66667%;
}

.p-card__dd {
  margin: 0;
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2;
}

.p-card__desc-list {
  list-style: none;
  padding: 0;
}

.p-card__desc-item {
  -webkit-padding-start: 15px;
          padding-inline-start: 15px;
  position: relative;
}
.p-card__desc-item::before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  left: 0;
  top: 0.8em;
}